# Empty lines, lines that start with '=' or '#', and lines that do not contains '=' will be ignored.
# Empty spaces at the begining or end of each line will be ignored.
# The separator of each key from its value is the first = so in "EXAMPLE= =SAMPLEXAPLE", the value of EXAMPLE IS " =SAMPLEXAPLE"
HEADER=
EMAIL_PASSWORD=
WEB_API_KEY=
APP_NAME=
AWS_SECRET_KEY=
AWS_ACCESS_KEY=
FIREBASE_MESSAGING_VPID=
EMAIL_PASSWORD_HASH_KEY=